# Aggregated from 65 OCA submodules @ 19.0
# Sources: per-repo requirements.txt + manifests external_dependencies.python
# Modules excluded: 0 (see /tmp/oca-19/skip-install.txt)

a2wsgi>=1.10.6
apispec
bokeh==3.9.0
boto3
cachetools
cerberus
contextvars
dataclasses
email-validator
extendable>=0.0.4
fastapi>=0.110.0
fsspec[s3]>=2025.3.0
lxml
msgraphfs
num2words
numpy
oauthlib
odoorpc
openupgradelib
paramiko
parse-accept-language
py3o.formats
py3o.template
pycountry
pycups
pydantic>=2.0.0
pyerf
pyftpdlib
pyOpenSSL
pyquerystring
python-barcode
python-dateutil
python-jose
python-multipart
python-stdnum
python_slugify
PyYAML
requests
requests-oauthlib
responses
schwifty==2024.4.0
typing-extensions
ujson
unidecode
webdav4[fsspec]
xlrd
xlsxwriter
